<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Stefan vd</string>
	<key>Builder Version</key>
	<string>11601.5.17.1</string>
	<key>CFBundleDisplayName</key>
	<string>Turn Off the Lights</string>
	<key>CFBundleIdentifier</key>
	<string>com.stefanvd.turnoffthelights</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>3.2.0.11</string>
	<key>CFBundleVersion</key>
	<string>3.2.0.11</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>Lights</string>
				<key>Identifier</key>
				<string>Lights</string>
				<key>Image</key>
				<string>Icon1@2x.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Turn Off the Lights</string>
				<key>Palette Label</key>
				<string>Turn Off the Lights</string>
				<key>Tool Tip</key>
				<string>Turn Off the Lights</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Blacklist</key>
		<array>
			<string>safari-extension://*/*</string>
		</array>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/content.js</string>
				<string>js/light.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>css/light.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>The entire page will be fading to dark, so you can watch the video as if you were in the cinema.</string>
	<key>DeveloperIdentifier</key>
	<string>PRR97757HF</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://www.stefanvd.net/downloads/updates.plist</string>
	<key>Website</key>
	<string>https://www.turnoffthelights.com</string>
</dict>
</plist>
