<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<false/>
		<key>Key</key>
		<string>optionpage</string>
		<key>Title</key>
		<string>Check me to open Turn Off the Lights option page.</string>
		<key>Titles</key>
		<array>
			<string>test</string>
		</array>
		<key>Type</key>
		<string>CheckBox</string>
		<key>Values</key>
		<array>
			<string>fz</string>
		</array>
	</dict>
</array>
</plist>
