<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.stefanvd.zoom</string>
			<key>Developer Identifier</key>
			<string>PRR97757HF</string>
			<key>CFBundleVersion</key>
			<string>2.0.0.4</string>
			<key>CFBundleShortVersionString</key>
			<string>2.0.0.4</string>
			<key>URL</key>
			<string>https://www.stefanvd.net/downloads/Zoom.safariextz</string>
			<key>Update From Gallery</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.stefanvd.turnoffthelights</string>
			<key>Developer Identifier</key>
			<string>PRR97757HF</string>
			<key>CFBundleVersion</key>
			<string>3.2.0.11</string>
			<key>CFBundleShortVersionString</key>
			<string>3.2.0.11</string>
			<key>URL</key>
			<string>https://www.stefanvd.net/downloads/Turn%20Off%20the%20Lights.safariextz</string>
			<key>Update From Gallery</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.stefanvd.fullscreen</string>
			<key>Developer Identifier</key>
			<string>PRR97757HF</string>
			<key>CFBundleVersion</key>
			<string>1.1.0.1</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1.0.1</string>
			<key>URL</key>
			<string>https://www.stefanvd.net/downloads/Full%20Screen.safariextz</string>
			<key>Update From Gallery</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.stefanvd.financetoolbar</string>
			<key>Developer Identifier</key>
			<string>PRR97757HF</string>
			<key>CFBundleVersion</key>
			<string>0.3.3.1</string>
			<key>CFBundleShortVersionString</key>
			<string>0.3.3.1</string>
			<key>URL</key>
			<string>https://www.stefanvd.net/downloads/Finance%20Toolbar.safariextz</string>
			<key>Update From Gallery</key>
			<true/>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.stefanvd.ambientaurea</string>
			<key>Developer Identifier</key>
			<string>PRR97757HF</string>
			<key>CFBundleVersion</key>
			<string>1.0.0.22</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.0.22</string>
			<key>URL</key>
			<string>https://www.stefanvd.net/downloads/Ambient%20Aurea.safariextz</string>
			<key>Update From Gallery</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
